body {
  background-image: url("/imagenes/fondo.png");
  margin-top: 30px;
}

.barra-principal {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: white;
  opacity: 1;
  border-radius: 3px;
  position: relative;
  padding: 3px;
}

#barra-navegacion {
margin: 8px;
}

#logo-appoly  {
    border-radius: 5px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    box-shadow: 0px 1px 10px 0px #0000001A;
}

#DOWNLOAD-button {
  background-color: #5956E9;
  border-radius: 5px;
  border-style: none;
  color: white;
}




/* Mobile 
@media (max-width 900px) {
}

/* tablet 

@media (max-width 1279px) {
}

/* Laptop 
@media (max-width 1280px) {
}
